<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div class="fb-share-button" data-href="http://localhost:3000/" data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse">Share</a></div>

<%= render 'comments/form', comment: @comment %>

<% @comments.each do |comment| %>
  <p> <%= comment.user.email %> </p>
  <p> <%= comment.created_at.strftime('%b %d, %Y') %> </p>
  <p> <%= comment.content %> </p>

<% end %>
